*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Muller";
    src: local("Muller Bold"),
        url(/fonts/MullerBold.woff2) format("woff2"),
        url(/fonts/MullerBold.woff) format("woff"),
        url(/fonts/MullerBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller Light"),
        url(/fonts/MullerLight.woff2) format("woff2"),
        url(/fonts/MullerLight.woff) format("woff"),
        url(/fonts/MullerLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller Medium"),
        url(/fonts/MullerMedium.woff2) format("woff2"),
        url(/fonts/MullerMedium.woff) format("woff"),
        url(/fonts/MullerMedium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller Regular"),
        url(/fonts/MullerRegular.woff2) format("woff2"),
        url(/fonts/MullerRegular.woff) format("woff"),
        url(/fonts/MullerRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

.body {
    min-width: 1920px;
    width: 100%;
    background-color: #f1f1f1;
    font-family: Muller, Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}

/* Блок header */

.header {
    margin-bottom: 72px;
}

.header-info {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.header-tel {
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 700;
    color: #666666;
}

.logo-contact {
    display: flex;
    align-items: center;
}

.header-logo-link {
    text-decoration: none;
    cursor: pointer;
    margin-right: 25px;
}

.header-logo {
    display: block;
}

.logaut {
    display: flex;
    align-items: center;
}

.logaut-link {
    text-decoration: none;
}

.logaut-icon {
    display: block;
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.logaut-text {
    color: #cc9933;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 70px;
    border-radius: 12px;
    padding-left: 20px;
}

.header-nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav-item:not(:last-child) {
    margin-right: 45px;
}

.header-nav-link {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

.header-nav-search input[type=text] {
    height: 48px;
    width: 355px;
    border: none;
    border-radius: 15px;
    background-color: #f1f1f1;
    padding: 0 0 0 21px;
}

.header-nav-search input[type=text]::placeholder {
    font-size: 0.875em;
    color: #bebebe;
}

.header-nav-search-btn {
    height: 22px;
    width: 22px;
    background: url(/img/icon-search.svg);
    border: none;
    padding: 0;
    position: relative;
    right: 42px;
    vertical-align: middle;
}

/* Блок HERO */

.hidden {
    visibility: hidden;
    margin: 0;
    position: absolute;
}

.container-hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.header-section {
    margin: 0 0 0 44px;
    font-size: 2.5em;
    font-weight: 400;
    color: #333333;
}

.header-reservation-indent {
    margin-bottom: 18px;
}

.reservation-form {
    height: 540px;
    width: 518px;
}

.reservation-form input[type=text],
.hero-select {
    width: 100%;
    height: 70px;
    border-radius: 12px;
    border: none;
    margin-bottom: 24px;
    cursor: pointer;
    appearance: none;
    padding: 0 0 0 20px;
}

.hero-select {
    color: #999999;
}

.reservation-form input[type="text"]::placeholder {
    color: #999999;
}

.reservation-form input[type="text"]:focus::placeholder {
    color: transparent;
}

.hero-select option {
    padding: 0;
    color: #cc9933;
}

.offer-slider {
    height: 540px;
    width: 595px;
    background-color: #666666;
    border-radius: 12px;
    position: relative;
}

.offer-slider-img {
    display: block;
    width: 595px;
    height: 540px;
}

.header-offer-indent {
    margin-bottom: 18px;
}

.btn {
    background-color: #cc9933;
    border: none;
    border-radius: 12px;
    color: #fff;
    padding: 0;
    cursor: pointer;
}

.reservation-form-btn {
    height: 70px;
    width: 159px;
    margin-right: 30px;
}

.number-offers {
    display: inline;
    color: #999999;
}

.number-offers-total {
    color: #cc9933;
}

.offer-slider-title {
    margin: 0 221px 0 40px;
    font-size: 4.125em;
    font-weight: 700;
    line-height: 58px;
    color: #fff;
    position: absolute;
    top: 266px;
}

.offer-slider-price {
    font-size: 2.1875em;
    color: #fff;
    opacity: 0.49;
    position: absolute;
    top: 473px;
    margin: 0 221px 0 40px;
}

.offer-slider-detail {
    color: #ffcc66;
    position: absolute;
    top: 486px;
    margin-left: 260px;
    text-decoration: none;
}

.offer-slider-detail::after {
    content: url(/img/arrow-right.svg);
    padding-left: 6px;
    position: absolute;
}

/* Блок ABOUT */

.header-about-indent {
    margin-bottom: 15px;
}

.about-description {
    margin: 0 244px 61px 40px;
    color: #666666;
    line-height: 32px;
    font-weight: 500;
}

/*  Блок SERVICES */

.services {
    margin-bottom: 70px;
}

.header-services-indent {
    margin-bottom: 18px;
}

.services-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.services-item {
    height: 325px;
    background-color: #fff;
    border-radius: 12px;
}

.services-item-img {
    border-radius: 12px 12px 0 0;
    margin-bottom: 37px;
}

.services-item-title {
    font-size: 1.375em;
    font-weight: 500;
    color: #cc9933;
    margin: 0 0 12px 44px;
    display: inline-block;
}

.services-item-description {
    margin: 0 122px 40px 44px;
    color: #333333;
    line-height: 32px;
    font-weight: 500;
}

.services-item-title::after {
    content: url(/img/service-arrow-right.svg);
    padding-left: 12px;
}

/* Блок ADVANTAGES */

.advantages {
    margin-bottom: 70px;
}

.header-advantages-indent {
    margin-bottom: 18px;
}

.advantages-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: calc((100% - 4 * 275px) / 3);
    row-gap: 24px;
    margin: 0;
    padding: 0;
}

.advantages-item {
    height: 275px;
    width: 275px;
    background-color: #fff;
    border-radius: 12px;
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 44px;
}

.advantages-icon {
    margin-bottom: 21px;
}

.advantages-description {
    margin: 0;
    color: #333333;
    line-height: 32px;
    font-weight: 500;
}

/* Блок PLACEMENT */

.placement {
    margin-bottom: 68px;
}

.header-placement-indent {
    margin-bottom: 18px;
}

.placement-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: calc((100% - 3 * 373px) / 2);
    row-gap: 25px;
    margin: 0;
    padding: 0;
}

.placement-item {
    height: 441px;
    width: 373px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
}

.placement-img {
    border-radius: 12px 12px 0 0;
    margin-bottom: 37px;
}

.placement-description {
    margin: 0 0 17px 44px;
    color: #969696;
    line-height: 32px;
}

.placement-price {
    font-size: 1.375em;
    font-weight: 700;
    color: #333333;
}

.placement-price-description {
    color: #333333;
    font-weight: 500;
}

.placement-star-list {
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    top: 267px;
    right: 44px;
}

.placement-star-item:not(:last-child) {
    margin-right: 7px;
}

.placement-btn {
    height: 41px;
    width: 100px;
    border: 1px solid rgb(204, 153, 51);
    border-radius: 12px;
    color: #cc9933;
    font-weight: 700;
    margin-left: 44px;
    padding: 0;
}

.placement-item-link {
    text-decoration: none;
    font-size: 1.375em;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 369px;
    left: 38px;
}

.placement-item-link::after {
    content: url(/img/placement-arrow-right.svg);
    margin-left: 14px;
    position: absolute;
}

/* Блок CONTACTS */

.header-contacts-indent {
    margin-bottom: 18px;
}

.contacts-wrapper {
    display: flex;
    align-items: center;
}

.contacts-card {
    height: 619px;
    width: 472px;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 22px;
    margin-right: 178px;
    padding: 48px 44px 44px 44px;
}

.contacts-address,
.contacts-tel,
.contacts-mail,
.contacts-chart {
    display: grid;
    justify-items: start;
    grid-template-columns: 145px 1fr;
    border-bottom: 1px solid #999999;
}

.contacts-chart {
    margin-bottom: 44px;
}

.contacts-address-title {
    font-size: 1.375em;
    color: #666666;
    font-weight: 700;
    margin: 0 77px 0 0;
}

.contacts-tel-title {
    font-size: 1.375em;
    color: #666666;
    font-weight: 700;
    margin: 27px 36px 0 0;
}

.contacts-mail-title {
    font-size: 1.375em;
    color: #666666;
    font-weight: 700;
    margin: 27px 77px 0 0;
}

.contacts-chart-title {
    font-size: 1.375em;
    color: #666666;
    font-weight: 700;
    margin: 27px 77px 0 0;
}

.contacts-address-description {
    color: #333333;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.contacts-tel-description {
    color: #cc9933;
    font-weight: 500;
    margin: 31px 0 20px 0;
}

.contacts-mail-description {
    color: #999999;
    font-weight: 500;
    margin: 31px 0 15px 0;
}

.contacts-chart-description {
    color: #333333;
    font-weight: 500;
    margin: 31px 0 20px 0;
}

.contacts-mail-info {
    color: #cc9933;
}

.contacts-btn {
    height: 70px;
    width: 214px;
    border-radius: 12px;
    border: 1px solid #cc9933;
    color: #cc9933;
    font-weight: 700;
    cursor: pointer;
}

.header-section-contacts {
    font-size: 2.5em;
    font-weight: 400;
    color: #333333;
    margin: 0 0 32px 0;
    text-align: center;
}

.contacts-feedback-form {
    width: 340px;
}

.contacts-feedback-input {
    width: 340px;
    height: 70px;
    border-radius: 12px;
    border: none;
    margin-bottom: 32px;
    padding-left: 20px;
    color: #999999;
}

.contacts-feedback-textarea {
    width: 340px;
    height: 110px;
    border-radius: 12px;
    border: none;
    margin-bottom: 32px;
    padding-top: 17px;
    padding-left: 20px;
    color: #999999;
}

.btn-feedback {
    width: 340px;
    height: 70px;
    font-weight: 700;
}

/* Блок FOOTER */

.container-footer {
    background-color: #333333;
    height: 338px;
    border-radius: 12px;
    padding: 50px 53px 38px 52px;
    display: grid;
    grid-template-columns: 345px 542px 1fr;
    column-gap: 75px;
    position: relative;
}

.footer-info-text {
    color: #fff;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 32px 0;
}

.footer-info-link {
    color: #cc9933;
    font-weight: 500;
    line-height: 32px;
}

.footer-social-img {
    margin-bottom: 21px;
}

.footer-img {
    position: absolute;
    top: 110px;
    right: 176px;
}